{% extends "base.html" %}

{% block content %}
<form action="." method="post">{% csrf_token %}
    <span style="font-family: monospace;">
        Message at 0x{{pointer}}:
        <big>{{formatted|linebreaks}}</big>
    </span>
    <br>Post a comment:
    <br><textarea name="text" cols="25" rows="5" autofocus></textarea>
    <br><input type="submit" value="Submit">
</form>
<small>Previous comments:</small>
{% for comment in comments %}
    <br><small><b>{{comment.modified | date:"n/j/y H:i" }}</b></small>
    <br>{{comment.comment}}
    <br>
{% endfor %}
<br>
<span style="font-family: monospace;">
<br>Unknown characters:
{% for key in unknowns %}
<br><a href = "/block/vote/{{key}}">{{key}}</a>
{% endfor %}
<br>
<br>Known characters:
{% for value, code in knowns %}
<a href = "/block/vote/{{code}}">{{value}}</a>
{% endfor %}
</span>
{% endblock %}
