{% extends "base.html" %}

{% block content %}
<img src="{{MEDIA_URL}}{{kblock.image}}">
<form action="." method="post">{% csrf_token %}
    <br>What are the four kanji in the {{column}} column, row {{row}}?
    <br><small>Type "?" if you don't know.</small>
    <br>
    <br><input type="text" name="values" autofocus>
    <br><input type="submit" value="Submit">
</form>
{% if cbocr %}
    Suggested by optical character recognition:
    <br><big><big>{{cbocr.text}}</big></big>
{% endif %}
<br>
<br>
{{completed}}/{{total}} complete!
{% endblock %}
